<html>
  <head>
    <title>{{basic_details.first_name}} {{basic_details.last_name}}</title>
  </head>
  <body>
    <div id="basic_details">
      <h1>{{basic_details.first_name}} {{basic_details.last_name}}</h1>
      <div>{{basic_details.address}}</div>
      <div>Phone: {{basic_details.phone}}</div>
      <div>Email: <a
                    href="mailto:{{basic_details.email}}">{{basic_details.email}}</a></div>
      <div>Web: <a
                  href="{{basic_details.website}}">{{basic_details.website}}</a></div>
    </div>
    <h2>Work History</h2>
    {% for experience in experiences %}
      <h3>{{experience.start_date.strftime('%b %Y')}} -
        {{experience.end_date.strftime('%b %Y')}} {{experience.title}}
        {{experience.role}}</h3>
      <ul>
      {% for detail in experience.details %}
      <li>{{detail}}</li>
      {% endfor %}
      </ul>
    {% endfor %}
    <h2>Education</h2>
    {% for education in education %}
      <h3>{{education.start_date.strftime('%b %Y')}} -
        {{education.end_date.strftime('%b %Y')}} {{education.title}}</h3>
      <ul>
      {% for detail in education.details %}
      <li>{{detail}}</li>
      {% endfor %}
      </ul>
    {% endfor %}
  </body>
</html>
